/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@import 'ngx-toastr/toastr';

/* toast override color douremember palet config */

    .toast {
      background-color: #222 !important;
      color: #fff !important;
      border-radius: 4px;
    }

    /* Per-type examples */
    .toast-success {
      background-color: #F5821F !important;
      color: #fff !important;
    }
    .toast-error {
      background-color: #e74c3c !important;
      color: #fff !important;
    }
    .toast-info {
      background-color: #3498db !important;
      color: #fff !important;
    }
    .toast-warning {
      background-color: #f39c12 !important;
      color: #222 !important;
    }

/* #4F7380 → a muted teal blue. #F5821F → a bright orange. #9CA3AA → a medium gray. COLORS */


.nunito-sans-1 {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.lexend-deca-1 {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.quicksand-1 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}
